@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

body {
  margin: 0;
  font-family: 'Inder', sans-serif;
  /* background-color: #f7f7f7; */
}

.App {
  text-align: center;
}

.btn {
  background-color: #ff4949;
  border: none;
  border-radius: 12px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #ff2222;
  border: none;
  border-radius: 12px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
